<!DOCTYPE html>
<html lang="en"
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  
  

<head>
	<title>WIKIBANK</title>
 <object th:include="fragments/head :: head" th:remove="tag"></object>
</head>
<body>
	<div class="container-scroller">
	  <!-- partial:partials/_navbar.html -->
<div th:include="fragments/header :: header"></div>
	  
	<div class="row">
	  
 	  <div class="col-md-3">

	<div th:include="fragments/sidebar :: aside"></div>
 
	  </div>
	    	<div class="col-md-9">
		
		  <div style="padding-left:10px;padding-right:80px;padding-top:70px">

			  <div class="row">
<div class="col-md-5"><h3 style="color: rgba(70,71,135,0.84)">All salaries</h3> </div>
</div>
			  	   <div class="signup-box card" >
<!--  <section id="main-content"> -->
  <!-- <section id="main-content"> -->
	  
		<!-- page start-->
 <div class="row clearfix">
             <br> <br>  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    
          
                        <div class="body">
                            <div class="table-responsive">
                         <table   class="table table-bordered table-striped table-hover dataTable js-exportable">
                                      <thead>
                     <tr>
                    <th>Gos Salary</th>
                    <th>Net Salary</th>
                    <th>taux</th>
    
        
                  </tr>
                </thead>
                
                         
                    <tbody>
                        
                  
             
                   
     <!--                <tr  class="gradeX" >
                     
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td> 
                  </tr> -->
                                        
                </tbody>
                             	
         <!--       <tbody>
        
                  </tr>
                                        
                                    </tbody> -->
                                </table>
                            </div>
                        </div>
                    
                </div>
            </div>


	
</div>

	  </div>
	
	  </div>

		 

</div>


		
	  </div>
	  
	  </div>
	



</div>
<br/><br/><br/>
  <!-- partial:partials/_footer.html -->
		  <footer class="footer" style="margin-right:-30px;padding-bottom:-310px;">
	 <div th:include="fragments/homefooter :: footer"></div>
		  </footer>
	

	<script type="text/javascript">

          $(document).ready(function(){
          $.ajax({

           url: "/employee-service/allSalaries",
           type: 'get',
           dataType: 'json',
           contentType: 'application/json',
           cache:false,
           timeout:600000,
     
           success: function (response) {
              
           var trHTML ;
           $.each(response, function (i, item) {
            trHTML +=
            '<tr class="gradeX">'+
            '<td>' + item.gross_salary+ '</td>'+
            '<td>' + item.net_salary + '</td>'+
            '<td>' + item.taux + '</td>'+

            '</tr>';
        });
   // $('tbody').attr(trHTML);
    $('tbody').append(trHTML);
//$('trHTML').ppendTo($('#table'));

        
    }
    });



});


			
</script>

</body>
</html>


		
		
	
	
